  table {
      	align: center;
        margin: auto;
        width: 90%;
        border-collapse: collapse;
        border-spacing: 4px 3px;
      }

	  caption {
			text-align:center;
            color: red;
    		border: 1px;
     	 }

      th{
        text-align: center;
        border: 1px solid #333; /* Граница вокруг ячеек */
        padding: 1px;
        background-color: #A7C942;
        color: #fff;
      }

	  td{
        text-align: center;
        border: 1px solid #333; /* Граница вокруг ячеек */
        padding: 1px;
		background-color: #EAF2D3;
      }

	.description{
		text-align:left;
    }

    .col1 {
		width: 25%;
    }

	th, td{
    line-height: 1.0;

	height: 8px;
	}

    caption{
        border: 1px; /* Граница вокруг ячеек */
        padding: 1px;
    font-size:  1.0;
    }